NEORV32/RTL/LATTICE/*
!NEORV32/RTL/LATTICE/neoRV32.ldf
!NEORV32/RTL/LATTICE/*.vhd
!NEORV32/RTL/LATTICE/*.v
!NEORV32/RTL/LATTICE/pll
NEORV32/RTL/LATTICE/pll/*
!NEORV32/RTL/LATTICE/pll/pll_1
NEORV32/RTL/LATTICE/pll/pll_1/*
!NEORV32/RTL/LATTICE/pll/pll_1/pll_1.v

NEORV32/RTL/XILINX/*
!NEORV32/RTL/XILINX/*.xpr
!NEORV32/RTL/XILINX/*.vhd
!NEORV32/RTL/XILINX/*.v

NEORV32/RTL/NEXYS_A7/*
!NEORV32/RTL/NEXYS_A7/*.xpr
!NEORV32/RTL/NEXYS_A7/*.vhd
!NEORV32/RTL/NEXYS_A7/*.v

PICORV32/RTL/LATTICE/*
!PICORV32/RTL/LATTICE/picoRV32.ldf
!PICORV32/RTL/LATTICE/*.vhd
!PICORV32/RTL/LATTICE/pll
PICORV32/RTL/LATTICE/pll/*
!PICORV32/RTL/LATTICE/pll/pll_1
PICORV32/RTL/LATTICE/pll/pll_1/*
!PICORV32/RTL/LATTICE/pll/pll_1/pll_1.v

PICORV32/RTL/XILINX/*
!PICORV32/RTL/XILINX/picoRV32.xpr
!PICORV32/RTL/XILINX/*.vhd

PICORV32/RTL/NEXYS_A7/*
!PICORV32/RTL/NEXYS_A7/*.xpr
!PICORV32/RTL/NEXYS_A7/*.vhd

*.o
*.asm
*.elf
*.bin